body{

    background: linear-gradient(135deg, #4f3558 0%, #d9bba9 35%, #b6cec7 100%);
}

.nav-item{
  padding: 10px 10px;
  font-size: 20px;
  font-family: 'Cinzel', serif;
}

.navbar-brand{
  font-size: 30px;
}

.container{
  margin-top: 50px;
}

.col-12{
  padding: 15px;
}

.submit{
background: linear-gradient(90deg, #4f3558 0%, #b6cec7 35%, #4f3558 100%);
color: white;
}

#footer{
    padding: 3% 10%;
    text-align: center;
}

.foo{
  padding: 20px 18px;
  width: 80px;
  color: white;
}
